.work {
    margin-bottom: 10%;
}

.media {
    position: absolute;
    /* display: box;
    width: 30%;
    height: auto; */
    margin: 2%;
}
.n {
   display: none;
}

img:hover{
    -webkit-filter: drop-shadow(3px 3px 0px #f5f5f5)
    drop-shadow(-3px -3px 0px #f5f5f5);
    filter: drop-shadow(3px 3px 0px #f5f5f5) 
    drop-shadow(-3px -3px 0px #f5f5f5);
    z-index: 28;
}
/* window */
/* #window {
   background-color: #f5f5f5;
   width: 40vw;
   height: 70vh;
   padding: 5%;
   margin-bottom: 2vh;
   border: .5px solid #2D2C31;
}

.window-bar div{
   display: inline;
   margin: 0;
   padding: 0% 4% 0% 4%;
   background-color: #ffffff;
   border: .5px solid #2D2C31;
}
.window-bar {
   width: 7vw;
   top: .5vh;
} */

#recomp {
	position: fixed;
	top: 72vh;
	right: 7vw;
	background-color: #ffffff;
	color:#2D2C31;
	border: .5px solid #2D2C31;
	display: block;
   z-index: 31;
   padding: 3px;
}

/* fabric wall */

 #m2 {
    width: 30vw;
    margin: 0 0 0 5vw;
 }

 /* hand */
 #m1 {
    width: 14vw;
    margin: 21vh 0 0 0;
 }

/* wires */
 #m3 {
    width: 17vw;
    margin: 40vh 0 0 18vw;
 }

 /* bracelet */
 #m4 {
    width: 16vw;
    margin: 20vh 0 0 12vw;
 }

 #caption {
    position: relative;
    top: 71vh;
    left: 0vw;
    z-index: 30;
    background-color: #ffffff;
    display: inline-block;
}

/* .container {
   padding: 20px;
   margin: 10px;
   border: 1px solid #000;
} */
.words, .sentence {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
.word {
   padding: 3px 7px;
   border: 1px solid #000;
   background-color: rgba(255,255,255,.65);
   cursor: pointer;
}
.word-bank {
   display: inline-block;
   /* width: 30%; */
}
#word-bank-selection{
   padding: 10px;
   position: relative;
   top: 90vh;
   z-index: 30;
   background-color: rgba(255,255,255,.4);
   border: 1px solid rgba(0,0,0,.4);
}
#sentence-container{
   position: relative;
   top: 40vh;
   z-index: 30;
   width: 80%;
   text-align: center;
}
#head-box, #foot-box {
   display: none;
}
h1{
   text-decoration: none;
}