/* general */
body{
	background-color: #ffffff;
	color: #2D2C31;
	font-family: 'DotGothic16';
	font-size: 16px;
	letter-spacing: 0.115ch;
	line-height: 1;
	margin: 10vh auto;
	width: 75%;
}
p, ul{
	line-height: 1.2;
	/* margin-bottom: 2%; */
	margin: 0 0 3% 0;
}
a {
	color: #2D2C31;
}
/* *, *:hover{
	cursor: url('../img/icons/cursor.png'), auto;
} */
h1 {
	font-size: 22px;
	font-weight: normal;
	/* font-style: oblique; */
	text-decoration: underline;
}
h3 {
	color:rgb(85, 90, 230);
	text-decoration: underline;
	font-size: 18px;
	margin: 0 0 1% 0;
	padding: 0;
}

button {
	background-color: #f5f5f5;
	color: #2D2C31;
	font-family: 'DotGothic16';
	font-size: 16px;
	line-height: 1;
	cursor: pointer;
	border: none;
}

/* header */
#title {
	background-color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	margin: 5px;
}
#title:hover {
	text-decoration: underline;
}

header {
	background-color: #f5f5f5;
	position: fixed;
	width: 15vw;
	padding: 1%;
	border: .5px solid #2D2C31;
	display: inline-block;
	height: 82vh;
	vertical-align: middle;
	z-index: 32;
}
header > div {
	position: fixed;
	width: 15vw;
	min-height: 20vh;
	max-height: 82vh;
	overflow: hidden;
}
nav {
	min-height: 20vh;
	max-height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 15vw;
	padding-right: 7%;
}

nav > div {
	list-style-image: url('../img/icons/folder.png');
	list-style-position: inside;
	padding-left: 7%;
	line-height: 1.75;
	display: inline-block;
	margin-top: 5%;
}
li a {
	text-decoration: none;
}
a:hover, li span:hover {
 	text-decoration: underline;
}


.collapsible {
	display: block;
	margin: 0;
	padding: 0;
}

li span {
	background-color: #ffffff;
	position: relative;
	top: -5px;
}

div .content {
	list-style-image: url('../img/icons/file.png');
	list-style-position: outside;
	padding-left: 27%;
	line-height: 1.3;
	overflow: hidden;
	display: inline-block;
	margin: 0;
}


div .content li {
	margin-bottom: 2.5%;
	padding: 0 2%;
	background-color: #ffffff;
	color: #2D2C31;
	border: .5px solid #2D2C31;
}
.content li a {
	position: relative;
	top: -5px;
}
#selected {
	font-weight: bold;
	color:rgb(85, 90, 230);
	text-decoration: underline;
}

.content:nth-child(4) li:nth-child(1),
.content:nth-child(4) li:nth-child(2),
.content:nth-child(4) li:nth-child(3),
.content:nth-child(4) li:nth-child(4){
	list-style-image: url('../img/icons/link.png');
}

/* main content */
main {
	position: absolute;
	top: 15%;
	left: 35%;
	width: 50%;
}

#center{
	padding-top: 10%;
}

/* head/foot box */
#head-box, #foot-box {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #ffffff;
	z-index: 35;
}

#head-box {
	height: 10vh;
	top: 0;
}
#foot-box {
	height: 2.5vh;
	bottom: 0;
}

/* other */
.hover-media{
	margin-left: 5%;
	width: 40%;
	height: 250px;
	background-color: #ffffff;
	border: 0px;
	display: none;
	object-fit: cover;
}

video.hover-media {
	max-width: 100%;
}

.add-text {
	top: 0;
 	width: 60%;
	display: inline-block;
}

/* media */
.work {
    margin-bottom: 10%;
}
.media-container{
	top:0;
}
.media-container img {
    width: 30%;
    height: auto;
    margin: 1.2%;
}
video, iframe {
    width: 40vw;
	height: 22.5vw;
}
.full-img {
	width: 100%;
	border-radius: 37px;

}
.phone {
	border-radius: 37px;
}

/* change font box */
#font-box {
	position: fixed;
	top: 76vh;
	right: 1vw;
	width: 150px;
	padding: 1%;
	z-index: 31;
	background-color: #f5f5f5;
	border: .5px solid #2D2C31;
}
#font-box p {
	margin: 2% 0 2% 0;
	padding: 5% 0 5% 0;
}

#font-box button {
	margin-bottom: 5%;
	padding: 2%;
	background-color: #ffffff;
	color:#2D2C31;
	border: .5px solid #2D2C31;
	display: block;
}
#font-box button:hover {
	text-decoration: underline;
}

/* responsive design */
/* @media screen and (max-width: 1400px) {
	#foot-box {
		display: none;
	}
} */
@media screen and (max-width: 1200px) {
	body {
		width: 80%;
	}
	header {
		width: 20vw;
	}
	header > div {
		width: 20vw;

	}
	nav {
		width: 20vw;
	}
	main {
		/* top: 15%; */
		left: 40%;
		width: 50%;
	}
	.media-container img {
		width: 40%;
	}
	video, iframe {
		width: 50vw;
		height: 28.125vw;
	}
}
@media screen and (max-width: 900px) {
	div .content{
		list-style: none;
		padding: 2% 0 0 10%;
	}
	.content li {
		padding: 2%;
	}
}